.OrderableList {
    grid-column: orderableList-start / orderableList-end;
    grid-row: orderableList-start / orderableList-end;
    background-color: var(--color-background-secondary);
    border-radius: 10px;
    padding: 10px;
}

.OrderableListTitle {
    text-align: center;
}

.OrderableListDesc {
    margin: 10px 10px 15px 10px;
    text-align: center;
}

.OrderableItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 0 0 10px 0;
}

.OrderableItemText {
    margin: 0 5px 0 5px;
    text-align: center;
}

.OrderableItemRank {
    padding: 5px;
    background-color: var(--color-background-rank);
    border-radius: 5px;
}

.NotDragging {
    background-color: var(--color-background-tertiary);
}

.Dragging {
    background-color: var(--color-background-action);
}