.OrderableList {
    grid-column: orderableList-start / orderableList-end;
    grid-row: orderableList-start / orderableList-end;

    background-color: cyan;
}

.OrderableItem {
    display: flex;
    justify-content: space-between;
    user-select: none;
    padding: 10px;
    margin: 0 0 5px 0;
}

.NotDragging {
    background-color: lightgrey;
}

.Dragging {
    background-color: lightsteelblue;
}