.ChartBoard {
  grid-column: full-start / full-end;
  grid-row: chartBoard-start / chartBoard-end;

  background-color: hotpink;
  flex-direction: row;
  display: flex;
}

.countriesSelection {
  flex: 1;
}

.temporarySelectedCountries {
  flex: 1;
}