:root {
  --color-primary: #023aff;
  --color-secondary: #01f1e3;

  --color-background-primary: #f2f4fa;
  --color-background-secondary: white;
  --color-background-tertiary: #e7e7e7;

  --color-background-action: #bfdbff;
  --color-background-rank: #d6d5d5;

  --color-font: black;

  --color-tertiary-orange: #ffa63f;
  --color-tertiary-green: #5eff5a;
  --color-tertiary-red: #ff2d2e;
  --color-tertiary-purple: #991bfa;
  --color-tertiary-cyan: #01f1e3;
  --color-tertiary-black: #05050f;
  --color-tertiary-blue: #02a4ff;

  --gradient-purple-pink: linear-gradient(to right, #7517f8, #e323ff);
  --gradient-blue-purple: linear-gradient(to right, #02a4ff, #7d40ff);
  --gradient-blue-cyan: linear-gradient(to right, #4da1ff, #4dffdf);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  /* 1rem => 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* To take in account the sticky header height while scrolling into a section using a link */
  scroll-padding: 6.4rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:link, a:focus, a:active {
  outline: none;
}