.Footer {
  grid-row: footer-start / footer-end;
  display: flex;
  background-color: white;
  justify-content: space-around;
  color: black;
  padding: 1.6rem;
  font-weight: 500;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,0.15);
  font-size: 1.3rem;
  /* background-color: var(--color-tertiary-blue); */

}
.Footer__links > *:not(:last-child) {

  margin-right: 2.4rem;
  margin-bottom: 2.4rem;
}

.Footer__image {
  height: 3.2rem;
}
